@import '../_forms';
@import '../_misc';
@import '../_mixins';
@import '../_selectors';
@import '../_theme';
@import '../_variables';

:global {
	.FlywheelConnectDropdown {
		display: inline-block;
		margin-left: 10px;
		height: 42px;
		line-height: 42px;
		vertical-align: middle;

		svg {
			width: 20px;
			vertical-align: middle;
			fill: $gray25;
			transition: fill .1s ease 0ms;
		}

		&:hover,
		// todo crum - FlyDropdown global class
		&.FlyDropdown__Open {
			svg {
				fill: $gray;
			}
		}
	}
}
