@import '../_partials/index';

:global {
	.FlywheelConnectDropdown {
		display: inline-block;
		margin-left: 10px;
		height: 42px;
		line-height: 42px;
		vertical-align: middle;

		svg {
			width: 20px;
			vertical-align: middle;
			fill: $gray25;
			transition: fill .1s ease 0ms;
		}

		&:hover,
		&.FlyDropdown__Open {
			svg {
				fill: $gray;
			}
		}
	}
}
