@import '../_partials/index';

:global {
	#popup-container {
		position: absolute;
		z-index: 9999;
		pointer-events: none;
		width: 100%;
		height: 100%;

		.mm-popup {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
			position: absolute;
			pointer-events: none;

			&.mm-popup--visible {
				pointer-events: all;
				background: rgba(0, 0, 0, .15);

				.mm-popup__box {
					transform: scale(1);
				}
			}
		}

		.mm-popup__box {
			transition: transform 100ms ease-in-out, opacity 1s;
			transform: scale(.8);
			background: #fff;
			box-shadow: 0 0 30px rgba(0, 0, 0, .3);
			width: 55%;
			box-sizing: border-box;
			padding: 20px;

			p {
				margin: 0 0 10px;
				font-weight: 300;
				color: #000;
				font-size: 16px;
			}

			input {
				font-weight: 400;
				padding: 4px 6px;
				color: #000;
				width: 100%;
				border: 2px solid #ccc;
				font-size: 14px;
				margin: 3px 0 15px;
				outline: none;

				&:hover {
					border-color: #aaa;
				}

				&:focus {
					outline: none;
					border-color: #888;
				}
			}

			.mm-popup__box__footer {
				float: right;
			}

			.mm-popup__box__footer__left-space {
				float: right;
			}

			.mm-popup__box__footer__right-space {
				margin-right: 18px;
				float: right;
			}

			.btn {
				font-weight: 500;
				padding: 2px 18px;
				font-size: 15px;
			}
		}
	}
}
