@import '../_partials/index';

:global {
	.Tag {
		border-radius: 4px;
		display: inline-block;
		padding: 6px 12px;
		line-height: 1;
		white-space: nowrap;
		color: $white;
		font-weight: 700;
		font-size: 12px;

		&.Tag__Warning {
			background: $orange;
		}
	}
}
