@import '../_partials/index';

:global {
	.Window {
		display: flex;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		&.__OsWindows {
			top: 32px;

			.Window.__OsWindows {
				top: 0;
			}
		}

		&.__Draggable {
			-webkit-app-region: drag;
		}

		&.__BackdropBlur {
			@include if-theme-light() {
				background: linear-gradient(to right, #e7f5ed, $white 10%);
			}

			@include if-theme-dark() {
				background: linear-gradient(to right, $gray-dark-alt, $gray-dark 10%);
			}

			z-index: 10;
		}
	}

	.os-mac .Window.__Before-React-Loaded::before {
		@include dragbar;
	}
}
