@import '../_partials/index';

:global {
	div.Window {
		display: flex;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		@at-root div#root > div > div.Window.__OsWindows {
			top: 32px;
		}

		&.__Draggable {
			-webkit-app-region: drag;
		}

		&.__BackdropBlur {
			@include theme-background-blur-backdrop;
		}
	}
}
