@import '../../../styles/_partials/index';

.BasicInput {
	position: relative;
	display: block;
	margin-bottom: 15px;

	input {
		@include flywheelInput;
	}

	span {
		display: block;
		margin-top: 10px;
		@include theme-color-red-dark50-else-red;
	}
}
