@import '../../styles/_partials/index';
@import '../FlyDropdown/FlyDropdown';

.FlyTooltip_Container {
	position: relative;
	display: inline-block;

	&:hover,
	&.FlyTooltip_Container__ForceHoverState {
		.FlyTooltip {
			transform: scale(1) translateY(0) translateZ(0);
		}
	}

	&.FlyTooltip_Container__HoverIntent:hover {
		.FlyTooltip {
			transition-delay: .65s;
		}
	}
}

.FlyTooltip {
	@extend .FlyDropdown_Items;

	top: auto;
	z-index: 5;
	right: 50%;
	display: inline-block;
	width: 300px;
	margin-top: -5px;
	margin-right: -20px;
	padding: 10px 30px;
	transform-origin: 95% 0;
	font-weight: 300;
	@include theme-color-graydark50-else-gray25;
	@include theme-input-background-color;
	@include theme-input-border;

	&.FlyTooltip__WidthAuto {
		width: auto;
	}

	&.FlyTooltip__WidthMaxContent {
		width: max-content;
	}

	&::before {
		box-shadow: 0 0 20px 0 rgba($gray-dark, .15);
		top: auto;
		right: 10px;
		bottom: -6px;
		@include theme-input-background-color;
		@include theme-input-border;
		z-index: -1;
	}

	&::after {
		top: auto;
		right: 0;
		bottom: 0;
		left: auto;
		width: 40px;
		height: 25px;
		border-radius: 4px;
		@include theme-input-background-color;
		margin-left: 0;
		margin-right: 1px;
		z-index: -1;
	}

	\:global(.Spinner) {
		vertical-align: middle;
		width: 14px;
		height: auto;
		animation: rotateSpinner 1s linear infinite;
		margin: -2px 5px 0 0;

		path {
			fill: $gray25;
		}
	}

	&.FlyTooltip__PositionTop {
		margin-top: -5px;
		transform: scale(0) translateY(-100%) translateZ(0);

		@at-root .FlyTooltip_Container:hover & {
			transform: scale(1) translateY(-100%) translateZ(0);
		}
	}

	&.FlyTooltip__PositionBottom {
		transform-origin: 95% 95%;
		top: auto;
		bottom: -12px;
		margin-top: 0;
		transform: scale(0) translateY(100%) translateZ(0);

		@at-root .FlyTooltip_Container:hover & {
			transform: scale(1) translateY(100%) translateZ(0);
		}

		&::before {
			top: -6px;
			bottom: auto;
		}

		&::after {
			top: 0;
		}
	}

	&.FlyTooltip__PositionRight {
		top: 50%;
		right: -5px;
		width: auto;
		margin: -18px 0 0;
		padding: 10px 15px;
		transform-origin: 100% 50%;
		transform: scale(0) translateX(100%) translateY(0) translateZ(0);
		white-space: nowrap;

		&::before {
			top: 50%;
			right: auto;
			bottom: auto;
			left: 5px;
			margin-top: -10px;
		}

		&::after {
			left: 0;
			width: 25px;
			height: 100%;
			border-radius: 4px;
		}

		@at-root .FlyTooltip_Container:hover & {
			transform: scale(1) translateX(100%) translateY(0) translateZ(0);
		}
	}

	&.FlyTooltip__PositionCenter {
		transform-origin: 0 0;
		right: 50%;
		left: 50%;
		margin-right: 0;
		transform: scale(0) translateX(-50%) translateY(-100%) translateZ(0);

		&::before {
			left: 50%;
			right: 50%;
		}

		&::after {
			left: 50%;
			transform: translate(-50%, 0);
		}

		@at-root .FlyTooltip_Container:hover & {
			transform: scale(1) translateX(-50%) translateY(-100%) translateZ(0);
		}
	}

	.FlyTooltip_Exclamation {
		$size: 18px;

		position: absolute;
		top: -($size / 2);
		left: -($size / 2);
		width: $size;
		height: $size;
		background: $red;
		border-radius: 100%;

		svg {
			width: 2px;
			height: 8px;
			fill: $white;
		}
	}

	> * {
		position: relative;
		z-index: 3;
	}

	p, h4, li {
		margin: 8px 0;
	}

	a {
		font-weight: 700;
		text-transform: uppercase;
		@include tracking(20);
	}

	h4 {
		font-weight: 700;
		font-size: 14px;
		@include theme-color-graydark-else-white;
	}

	ul {
		padding: 0;
		list-style: none;
	}
}
