@import '../../../styles/_partials/index';

.Banner_Wrapper {
	max-height: var(--expanded-height);
	transition:  max-height 0.35s ease, visibility 0s linear 0.35s;
	overflow: hidden;
	flex-shrink: 0;
}

.Banner_Container {
	display: flex;
}

// Screen Reader Only
.SRO {
	@include visuallyHidden;
}

.Carousel {
	padding: 10px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	@include theme-background-white-else-graydark();
	box-shadow: inset 0px -10px 10px -10px  $theme-overlay-box-shadow-light;
	overflow: hidden;
	flex-shrink: 0;

	.Carousel_LeftArrow {
		margin-right: 26px;
	}

	.Carousel_RightArrow {
		margin-left: 26px;
	}

	.Carousel_Radio {
		+label {
			cursor: pointer;
			margin: 2.5px 0;
			border-radius: 50%;
			width: 8px;
			height: 8px;
			flex-shrink: 0;

			@include if-theme-dark() {
				border: 2px solid $white;
			}

			@include if-theme-light() {
				border: 2px solid $gray-dark50;
			}
		}

		&:checked+label {
			width: 15px;
			height: 15px;
			margin: 2.5px 15px;
			line-height: 15px;
			text-align: center;
			@include __theme-background($gray-dark50, $white);
			@include __theme-color($white, $gray-dark);
			font-size: 10px;
			font-weight: 600;
			border: none;
		}
	}
}
