@import './misc';
@import './variables';

//
// Theme Utilities
//

@mixin if-theme-light{
	@content;
}

@mixin if-theme-dark {
	@each $selector in selector-parse(&) { // must loop over each selector for the css rule to be applied correctly
		@at-root .Theme__Dark #{$selector} {
			@content;
		}
	}
}

// Theme General CSS Props

@mixin __theme-background($lightmodeBackground, $darkmodeBackground) {
	@include if-theme-light() {
		background: $lightmodeBackground;
	}
	@include if-theme-dark() {
		background: $darkmodeBackground;
	}
}

@mixin theme-background-blur-backdrop($lightmodeColor: $white, $lightmodeAlpha: 0.65, $darkmodeColor: $gray-dark50, $darkmodeAlpha: 0.15) {
	@include __theme-background(rgba($lightmodeColor, $lightmodeAlpha), rgba($darkmodeColor, $darkmodeAlpha));
	@include if-theme-light() {
		backdrop-filter: blur(50px) brightness(1.1);
	}
	@include if-theme-dark() {
		backdrop-filter: blur(40px);
	}

	//transition: opacity .5s ease 0ms, backdrop-filter .5s ease 0ms
	&.__FadeIn {
		opacity: 1;
		animation: fadein .5s ease 0ms;

		@keyframes fadein {
			from {
				opacity: 0;
				backdrop-filter: blur(0);
			}
			to {
				opacity: 1;
				backdrop-filter: blur(50px);
			}
		}
	}

	&.__FadeOut {
		opacity: 0;
		pointer-events: none;
		backdrop-filter: blur(0);
	}
}

@mixin theme-background-gray1-else-gray-disabled {
	@include __theme-background($gray1, $gray);
}

@mixin theme-background-gray2-else-gray2row {
	@include __theme-background($gray2, #292A2A); // 35% of $gray-dark50
}

@mixin theme-background-gray5-else-graydarkalt {
	@include __theme-background($gray5, $gray-dark-alt);
}

@mixin theme-background-gray15-else-graydark50 {
	@include __theme-background($gray15, $gray-dark50);
}

@mixin theme-background-none-else-graydark50 {
	@include __theme-background(none, $gray-dark50);
}

@mixin theme-background-gray15-else-gray {
	@include __theme-background($gray15, $gray);
}

@mixin theme-background-gray25-else-graydark50 {
	@include __theme-background($gray25, $gray-dark50);
}

@mixin theme-background-gray25-else-gray {
	@include __theme-background($gray25, $gray);
}

@mixin theme-background-gray25-else-graydark50 {
	@include __theme-background($gray25, $gray-dark50);
}

@mixin theme-background-green-else-graydark {
	@include __theme-background($green, $gray-dark);
}

@mixin theme-background-white-else-graydark {
	@include __theme-background($white, $gray-dark);
}

@mixin theme-background-white-else-gray25 {
	@include __theme-background($white, $gray25);
}

@mixin theme-background-white-else-graydark50 {
	@include __theme-background($white, $gray-dark50);
}

@mixin theme-background-white85-else-graydark {
	@include __theme-background(rgba($white, .85), $gray-dark);
}

@mixin __theme-border($property: "", $lightmodeLighten: 0%, $darkmodeLighten: 0%) {
	@if $property == "" or $property == "box-shadow" {
		@include if-theme-light() {
			box-shadow: 0 0 0 1px $theme-border-light;
		}
		@include if-theme-dark() {
			box-shadow: 0 0 0 1px lighten($theme-border-dark, $darkmodeLighten);
		}
	}
	@else {
		@include if-theme-light() {
			#{$property}: 1px solid $theme-border-light;
		}
		@include if-theme-dark() {
			#{$property}: 1px solid lighten($theme-border-dark, $darkmodeLighten);
		}
	}
}

@mixin theme-border($lightmodeLighten: 0%, $darkmodeLighten: 0%) {
	@include __theme-border("", $lightmodeLighten, $darkmodeLighten);
}

@mixin theme-border-bottom($lightmodeLighten: 0%, $darkmodeLighten: 0%) {
	@include __theme-border("border-bottom", $lightmodeLighten, $darkmodeLighten);
}

@mixin theme-border-left($lightmodeLighten: 0%, $darkmodeLighten: 0%) {
	@include __theme-border("border-left", $lightmodeLighten, $darkmodeLighten);
}

@mixin theme-border-right($lightmodeLighten: 0%, $darkmodeLighten: 0%) {
	@include __theme-border("border-right", $lightmodeLighten, $darkmodeLighten);
}

@mixin theme-border-top($lightmodeLighten: 0%, $darkmodeLighten: 0%) {
	@include __theme-border("border-top", $lightmodeLighten, $darkmodeLighten);
}

@mixin __theme-border-color($property: "border-color") {
	@include if-theme-light() {
		#{$property}: $theme-border-light;
	}
	@include if-theme-dark() {
		#{$property}: $theme-border-dark;
	}
}

@mixin theme-border-color {
	@include __theme-border-color;
}

@mixin __theme-color($colorLight, $colorDark) {
	@include if-theme-light() {
		color: $colorLight;
	}
	@include if-theme-dark() {
		color: $colorDark;
	}
}

@mixin theme-color-black-else-white {
	@include __theme-color($black, $white);
}

@mixin theme-color-gray-else-gray15 {
	@include __theme-color($gray, $gray15);
}

@mixin theme-color-gray-else-gray25 {
	@include __theme-color($gray, $gray25);
}

@mixin theme-color-gray-else-gray75 {
	@include __theme-color($gray, $gray75);
}

@mixin theme-color-gray-else-white {
	@include __theme-color($gray, $white);
}

@mixin theme-color-gray15-else-gray-dark50-disabled {
	@include __theme-color($gray15, $gray-dark50);
}

@mixin theme-color-gray25-else-gray25 {
	@include __theme-color($gray25, $gray25);
}

@mixin theme-color-gray25-else-white {
	@include __theme-color($gray25, $white);
}

@mixin theme-color-gray25-else-gray75 {
	@include __theme-color($gray25, $gray75);
}

@mixin theme-color-gray75-else-gray25 {
	@include __theme-color($gray75, $gray25);
}

@mixin theme-color-graydark-else-white {
	@include __theme-color($gray-dark, $white);
}

@mixin theme-color-graydark-else-gray25 {
	@include __theme-color($gray-dark, $gray25);
}

@mixin theme-color-graydark50-else-gray25 {
	@include __theme-color($gray-dark50, $gray25);
}

@mixin theme-color-graydark50-else-white {
	@include __theme-color($gray-dark50, $white);
}

@mixin theme-color-white-else-gray25 {
	@include __theme-color($white, $gray25);
}

@mixin __theme-fill($fillLight, $fillDark) {
	@include if-theme-light() {
		fill: $fillLight;
	}
	@include if-theme-dark() {
		fill: $fillDark;
	}
}

@mixin theme-fill-gray-else-white {
	@include __theme-fill($gray, $white);
}

@mixin theme-fill-gray15-else-gray {
	@include __theme-fill($gray15, $gray);
}

@mixin theme-fill-graydark-else-gray25 {
	@include __theme-fill($gray-dark, $gray25);
}

@mixin theme-fill-green-else-white {
	@include __theme-fill($green, $white);
}

@mixin theme-fill-green-else-gray25 {
	@include __theme-fill($green, $gray25);
}

@mixin theme-fill-greendark50-else-white-hover {
	@include __theme-fill($green-dark50, $white);
}

// Theme Components

@mixin theme-button-pill-disabled {
	@include if-theme-light() {
		background: $gray25 !important;
		color: $gray75 !important;
	}
	@include if-theme-dark() {
		background: $gray !important;
		color: $gray-dark50 !important;
	}
}

@mixin theme-input-background-color {
	@include if-theme-light() {
		background-color: $white;
	}
	@include if-theme-dark() {
		background-color: $gray-dark;
	}
}

@mixin theme-tab-border-active {
	@include if-theme-light() {
		border-bottom: 4px solid $gray-dark;
	}
	@include if-theme-dark() {
		border-bottom: 4px solid $green;
	}
}

@mixin theme-input-border {
	border: none;
	border-radius: 4px;
	@include theme-border;
}

// Theme Patterns

@mixin theme-stripes-white-else-graydark {
	@include if-theme-light() {
		@include stripes($white, $gray1);
	}
	@include if-theme-dark() {
		@include stripes(#2a2b2b, $gray-dark);
	}
}

@mixin theme-stripes-gray15-else-graydark {
	@include if-theme-light() {
		@include stripes($gray15, $gray5);
	}
	@include if-theme-dark() {
		@include stripes($gray-dark, $gray-dark50);
	}
}
