$black: #000;
$white: #fff;

$gray: #5d5e5e;
$gray-darker: #131313;
$gray-dark: #262727;
$gray-dark-alt: #303031;
$gray-dark50: #434344;
$gray75: #9f9c9c;
$gray25: #c7c4c4;
$gray15: #e7e7e7;
$gray5: #f7f6f6;
$gray2: #fafafa;
$gray1: #fcfcfc;

$green: #51bb7b;
$green-dark: #267048;
$green-dark50: #419564;
$green75: #add9b8;
$green25: #d4ead9;
$green15: #D8F0DE;
$green2: #f4faf7;

$blue: #50c6db;
$blue-dark: #01516e;
$blue-dark25: #296a82;
$blue-dark50: #338199;
$blue75: #b0e0ea;

$blue25: #d6eef2;
$blue5: #8fd6e3;

$red: #ef4e65;
$red-darker: #933140;
$red-dark: #8c2738;
$red-dark50: #ba3e51;
$red75: #f18085;
$red25: #fad1cd;
$red15: #FFE2DF;

$orange: #f47820;
$orange-alt: #f48720;
$orange-dark: #8e4402;
$orange-dark50: #bb5f23;
$orange75: #fab889;
$orange25: #fdd9be;

$pink: #e0368c;
$pink-dark: #851252;
$pink-dark50: #af2a6f;
$pink75: #eba0c0;
$pink25: #f3cddd;

$purple: #8351a0;
$purple-dark: #4e2760;
$purple-dark50: #693f7e;
$purple75: #b69cc8;
$purple25: #b69cc8;

$yellow: #f0ce15;
$yellow-dark: #9a7700;
$yellow-dark50: #c3a028;
$yellow75: #f6e299;
$yellow25: #f9edc9;

/* Fonts */
$museo-sans-rounded: "Museo Sans Rounded", sans-serif;
$system-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Reusable Color Patterns

$theme-border-light: $gray15;
$theme-border-dark: $gray-dark50;
$theme-input-border-box-shadow-dark: $gray;
$theme-overlay-box-shadow-light: rgba(0, 0, 0, 0.09);
$theme-overlay-box-shadow-dark: rgba(0, 0, 0, 0.4);


$font-size-header-xs: 1.4rem;
$font-size-header-s: 1.8rem;
$font-size-header-m: 2.4rem;
$font-size-header-l: 3.2rem;
$font-size-header-xl: 4.2rem;
$font-size-content-xs: 1.1rem;
$font-size-content-s: 1.2rem;
$font-size-content-m: 1.4rem;
$font-size-content-l: 1.6rem;
$font-size-content-xl: 1.8rem;

$font-weight-300-light: 300;
$font-weight-400-normal: 400;
$font-weight-500-medium: 500;
$font-weight-700-bold: 700;
$font-weight-900-heavy: 900;

$gutter-size-xs: 5px;
$gutter-size-s: 10px;
$gutter-size-m: 20px;
$gutter-size-l: 30px;
$gutter-size-xl: 40px;
