@import '../../../styles/_partials/index';

.TextBase {
	@include defaultFontAndTextSettings();

	&.TextBase__FontSize_Small {
		font-size: $font-size-header-xs;
	}

	&.TextBase__FontSize_Medium {
		font-size: $font-size-header-s;
	}

	&.TextBase__FontSize_Large {
		font-size: $font-size-header-m;
	}

	&.TextBase__FontSize_XLarge {
		font-size: $font-size-header-xl;
	}
}
