{
  "presets": [
    "stage-2",
    ["env", {
      "targets": {
        "electron": "1.7",
        "node": "7.9.0"
      }
    }],
    "react"
  ],
  "plugins": [
    "inline-react-svg",
	  "react-hot-loader/babel"
  ]
}
