@import '../../../styles/_partials/index.scss';
@import '../../../common/styles/themeUtils';

.RefreshButton {
	svg {
		margin: 0 !important;
	}

	&.spin {
		svg {
			transform: rotate(360deg);
			transition: transform 0.55s cubic-bezier(.42,1.56,.61,.83) 0s; 
		}
	}
}
