@import '../../../styles/_partials/index';

.FlyDropdown {
	position: relative;
	display: inline-block;
	@include cursorPointer;

	&.FlyDropdown__NavItem {
		border-bottom: 4px solid transparent;
		padding: 6px 4px 11px;

		button {
			color: $gray25;
		}

		&.FlyDropdown__NavItemActive {
			@include theme-tab-border-active;
		}

		&:hover, &.FlyDropdown__Open, &.FlyDropdown__NavItemActive {
			button {
				color: inherit;
			}

			@include theme-color-graydark-else-white;

			svg path {
				@include theme-fill-graydark-else-white;
			}
		}
		&.FlyDropdown__Open {
			.FlyDropdown_Caret {
				@include __theme-background($gray-dark, $white);
			}
		}
	}
}

.FlyDropdown_Caret {
	$ease-in: cubic-bezier(.2,.3,.25,.9);

	width: 14px;
	margin-left: 3px;
	margin-bottom: 2.5px;
	vertical-align: middle;

	path {
		fill: $gray25;
	}

	.FlyDropdown.FlyDropdown__Open & {
		height: 2px;
		background: $gray25;
		margin-top: -2px;

		* {
			opacity: 0;
		}
	}
}


.FlyDropdown_Items {
	$border-radius: 4px;

	@include cursorPointer;
	left: auto;
	border-radius: $border-radius;
	padding: 0;
	width: 160px;
	height: auto;
	list-style-type: none;
	text-align: center;
	line-height: normal;
	margin: 0;
}

.FlyDropdown_Item {
	display: flex;
	align-items: center;
	transition: all .05s cubic-bezier(.2,.3,.25,.9) 0s;
	padding: 10px 20px;
	height: auto;
	text-align: left;
	text-transform: none;
	color: $green;
	font-weight: 400;
	position: relative;
	z-index: 7;

	&:first-child {
		padding-top: 20px;
	}

	&:last-child {
		padding-bottom: 20px;
	}

	&:hover {
		color: $green-dark50;
	}

	&:first-of-type {
		border-radius: 4px 4px 0 0;
	}

	&:last-of-type {
		border-radius: 0 0 4px 4px;}

	&:last-of-type:first-of-type {
		border-radius: 4px;
	}

	&.FlyDropdown_Item__ColorRed {
		color: $red;

		&:hover {
			color: $red-dark50;
		}
	}

	&.FlyDropdown_Item__ColorNone {
		@include defaultFontAndTextSettings;
	}
}

.FlyDropdown_PopperVisualContainer {
	padding: 0 !important;
}
