@import "../../../styles/_partials/index";
@import '../../../common/styles/themeUtils';

.ContextMenu {
	position: relative;
	display: inline-block;
	@include cursorPointer;

	&.ContextMenu__NavItem {
		border-bottom: 4px solid transparent;
		padding: 6px 4px 11px;

		button {
			@include theme-color-gray-else-gray25;
		}
	}

}

.ContextMenu__Submenu {
	display: flex;
	flex-grow: 1;
}

.ContextMenu_Divider {
	flex-grow: 1;
	height: 2px;
	@include theme-background-gray5-else-gray-dark50;
	border-radius: 2px;
	margin: 5px 0;
}

.ContextMenu_Items {
	left: auto;
	border-radius: 4px;
	min-width: 160px;
	height: auto;
	list-style-type: none;
	margin: 0;
	max-height: 100vh;
	padding: 0 20px;
	overflow: auto;
}

.ContextMenu_Item {
	display: flex;

	&:first-child {
		padding-top: 15px;
	}

	&:last-child {
		padding-bottom: 15px;
	}

	&:hover {
		@include __theme-color($green, $green-dark50);
	}

	.ContextMenu_Item_TextButton {
		@include setThemeVar('--Button_IfText__TextColor', $gray, $white);
		flex-grow: 1;
		justify-content: left;
		padding: 5px 0;

		&.ContextMenu_Item_TextButton__Checkbox:not(.ContextMenu_Item_TextButton__Checked){
			padding-left: 20px;
		}

		&.ContextMenu_Item_TextButton__Red {
			@include setThemeVar('--Button_IfText__TextColor', $red-dark50, $red);
		}

		&.ContextMenu_Submenu_Item_TextButton {
			display: flex;
			justify-content: space-between;
		}
	}
}

.ContextMenu_PopperVisualContainer {
	padding: 0 !important;
}
