@import '_theme';
@import '_variables';

@mixin fullWidthHeight {
	width: 100%;
	height: 100%;
}

@mixin imageSize($width, $height) {
	width: $width;
	height: $height;
	background-size: $width $height;
}

@mixin tracking($tracking) {
	letter-spacing: ( $tracking / 1000 ) * 1em;
}

@mixin defaultFontSettings {
	font-size: 14px;
	font-family: $museo-sans-rounded;
	@include theme-color-graydark-else-white;
}

@mixin selectable {
	user-select: text;
	cursor: text;
}

@mixin pillButton {
	border-radius: 500px;
}

@mixin cursorPointer {
	cursor: pointer;

	* {
		cursor: pointer;
	}
}
