@keyframes rotateSpinner {
	from {
		transform: rotate(0deg) scaleX(-1);
	}
	to {
		transform: rotate(360deg) scaleX(-1);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
