@import './_partials/index';

:global {
	* {
		box-sizing: border-box;
		cursor: default;
		outline: none;
		-webkit-user-drag: none;
	}

	html {
		width: 100%;
		height: 100%;
		font-size: 62.5%; // set rems to have a base of 10
	}

	body,
	div#styleguide-container {
		margin: 0;
		@include fullWidthHeight;
		@include theme-background-white-else-graydark;
	}


	#root main {
		position: absolute;
		top: 0;
		bottom: 0;
		overflow-y: auto;
	}

	html.local-by-flywheel {
		overflow: hidden;
	}

	button {
		cursor: pointer;
	}

	input,
	select {
		@include defaultFontAndTextSettings;
	}

	[disabled] {
		pointer-events: none !important;
	}
}
