@import '_partials/mixins';
@import '_partials/variables';

:global {
	.MainPanel {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		flex-grow: 1;
	}
}
