@import '_partials/index';

:global {
	* {
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
		user-select: none;
	}

	html {
		font-size: 62.5%; // set rems to have a base of 10
	}

	body {
		@include defaultFontAndTextSettings;
		@include theme-color-graydark-else-white;
	}

	h1, h2, h3, h4, h5, h6 {
		margin: 0;
		padding: 0;
		font-size: inherit;
		font-weight: inherit;
	}

	p {
		font-weight: 300;
		line-height: 1.5;

		a {
			font-weight: 500
		}
	}

	a,
	a * {
		cursor: pointer;
	}

	a {
		@include __theme-color($green-dark, $green);
		text-decoration: none;

		&:hover {
			text-decoration: underline;
			@include __theme-color($green, $green-dark50);
		}
	}
}
