@import '../../styles/_partials/index'

.SpinnerContainer
	font-weight: 300
	color: $gray75
	letter-spacing: 0
	text-transform: none

	.Spinner
		margin-right: 10px

svg.Spinner
	vertical-align: middle
	width: 18px
	height: 22px
	margin: 0 0 0 10px

	\:global
		animation: rotateSpinner 1s linear infinite

	&.Spinner__ColorGrayDark50
		path
			fill: $gray-dark50

	path
		fill: $gray25
