@import '../../styles/_partials/index'

.Spinner
	vertical-align: middle
	width: 18px
	height: 22px
	\:global
		animation: rotateSpinner 1s linear infinite
	margin: 0 0 0 10px

	&.Spinner__ColorGrayDark50
		path
			fill: $gray-dark50

	path
		fill: $gray25

