@import '../../styles/_partials/index';

@mixin setChildHeightToParent {
	height: 100%;
	overflow-y: auto;
}

.MagicSyncViewer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	@include theme-color-black-else-white;
	@include setChildHeightToParent;
	@include theme-background-white-else-graydark;

	.MagicSyncViewer_Body {
		display: flex;
		flex-direction: row;
		@include setChildHeightToParent;
	}

	.MagicSyncViewer_Menus {

	}

	.MagicSyncViewer_Content {
		display: flex;
		flex-direction: column;
		flex: 1 1 0;
		@include theme-background-gray2-else-gray2row;
	}

	.MagicSyncViewer_TableRow {

	}

	.MagicSyncViewer_ColumnCell {

	}

	.MagicSyncViewer_Column_Locked {
		flex: 0 0 10px;
		margin-right: 10px;
		margin-left: 10px;
	}

	.MagicSyncViewer_Column_Selected {
		flex: 0 0 16px;
		margin-right: 20px;
	}

	.MagicSyncViewer_Column_Filename {
		flex: 1 1 400px;
		min-width: 200px;
		margin-right: 20px;
	}

	.MagicSyncViewer_Column_LocalDate {
		flex: 0 0 140px;
		margin-right: 20px;
	}

	.MagicSyncViewer_Column_DateIcons {
		flex: 0 0 12px;
		margin-right: 20px;
	}

	.MagicSyncViewer_Column_FlywheelDate {
		flex: 0 0 140px;
		margin-right: 30px;
	}
}
