@import '../../styles/_partials/index'

.Card
	display: flex
	flex-direction: column
	flex-grow: 1
	flex-shrink: 0
	@include theme-background-white-else-graydark
	box-shadow: 0 3px 5px 0 rgba($gray-dark, 0.15)
	border-radius: 4px
	overflow: hidden

	.Card_Header
		position: relative

	.Card_HeaderIconContainer
		display: flex
		align-items: center
		justify-content: center
		padding: 30px

	.Card_Content
		display: flex
		flex-direction: column
		flex-grow: 1 // push footer down to the bottom by maximizing this area's height
		margin: 30px 30px 0 30px

		&:last-child
			margin-bottom: 30px


	.Card_Content_Title
		margin-bottom: 5px
		color: $gray-dark

		&:last-child
			margin-bottom: 0

		a:not(:hover)
			@include theme-color-graydark-else-white

	.Card_Content_Sub
		margin-bottom: 10px
		color: $gray75

		&:last-child
			margin-bottom: 0

	.Card_Content_Description
		@include theme-color-gray-else-gray75
		font-weight: 300

	.Card_Footer
		display: flex
		flex-direction: row
		margin: 30px
