@import '../../styles/_partials/mixins'
@import '../../styles/_partials/selectors'
@import '../../styles/_partials/theme'
@import '../../styles/_partials/variables'


.Card
	display: flex
	flex-direction: column
	flex-grow: 1
	flex-shrink: 0
	//min-width: 240px
	//max-width: 280px
	background: $white
	box-shadow: 0 3px 5px 0 rgba($gray-dark, 0.15)
	border-radius: 4px
	overflow: hidden

.Card_Header
	position: relative

.Card_HeaderIconContainer
	display: flex
	align-items: center
	justify-content: center
	padding: 30px

.Card_HeaderIcon
	objectFit: cover

.Card_Content
	margin: 30px
