@import '../../styles/_mixins'
@import '../../styles/_selectors'
@import '../../styles/_theme'
@import '../../styles/_variables'

.LoadingIndicator
	$size: 9px
	$sizeBig: 18px

	width: auto
	height: 16px
	margin: 0 auto
	text-align: center
	display: inline-block
	vertical-align: middle
	@-webkit-keyframes big-loader-bounce-delay
		0%, 80%, 100%
			-webkit-transform: scale(0)
		40%
			-webkit-transform: scale(1.0)

	@keyframes big-loader-bounce-delay
		0%, 80%, 100%
			-webkit-transform: scale(0)
			transform: scale(0)
		40%
			-webkit-transform: scale(1.0)
			transform: scale(1.0)

	// modifiers and states (if no direct styles, this still needs to be here to set the class in React)
	&.__Gray
	&.__Big
		display: block
		height: $sizeBig

	> div
		display: inline-block
		@include selectors_setAsDefaults()
			width: $size
			height: $size
			margin: 0 4px

		@include selectors_ifHostHasModifier('.__Big')
			width: $sizeBig
			height: $sizeBig
			margin: 0 5px

		@include selectors_setAsDefaults()
			background-color: $green

		@include selectors_ifHostHasModifier('.__Gray')
			background-color: $gray25

		border-radius: 100%
		-webkit-animation: big-loader-bounce-delay 1.4s infinite ease-in-out both
		animation: big-loader-bounce-delay 1.4s infinite ease-in-out both


	> div:first-child
		-webkit-animation-delay: -0.32s
		animation-delay: -0.32s


	> div:nth-child(2)
		-webkit-animation-delay: -0.16s
		animation-delay: -0.16s
