@import '../../styles/_partials/index'

@mixin generateGridTemplateColumnsBreakpoints($cardWidthMax, $gap, $maxColumns)
	$otherScreenWidth: 360px // rough estimate of the non-card-container screen width
	$columnsConcatAutoValues: ''

	@for $i from 1 through $maxColumns
		$columnsConcatAutoValues: $columnsConcatAutoValues + auto + " " // each 'auto' represents an additional column
		@media screen and (min-width: $otherScreenWidth + (($i * $cardWidthMax) + ($i + 1) * $gap))
			grid-template-columns: unquote($columnsConcatAutoValues)

.MarketplaceCardContainer
	$cardWidthMax: 240px
	$gap: 10px
	$maxColumns: 4

	display: grid
	grid-row-gap: $gap
	row-gap: $gap
	grid-column-gap: $gap
	column-gap: $gap
	@include generateGridTemplateColumnsBreakpoints($cardWidthMax, $gap, $maxColumns)

	&.MarketplaceCardContainer__Horizontal
		grid-template-columns: 100%
