@import '../../styles/_partials/index'

.DrawerContainer
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	overflow: hidden
	pointer-events: none

	.Drawer
		position: absolute
		right: 0
		bottom: 0
		left: 0
		display: flex
		flex-direction: row
		padding: 12px
		@include theme-stripes-white-else-graydark
		@include theme-border-top
		transform: translateY(100%)
		transition: transform 0.25s cubic-bezier(0.4, -0.40, 0.8, 1.0) 0s // hide/out transition
		pointer-events: initial

		&.Drawer__DisableAnimation
			transition: none

		&.Drawer__Show
			transform: translateY(0)
			transition: transform 0.25s cubic-bezier(0.4, 1.4, 0.8, 1.0) 0s // show/in transition

		&.Drawer__AlignLeft
			justify-content: left

		&.Drawer__AlignCenter
			justify-content: center

		&.Drawer__AlignRight
			justify-content: right
