@import '../../styles/_partials/index'

.Header
	margin: 0 // reset base margins for <h1> to <h6> elements

	&.Header__SizeXS
		font-size: $font-size-header-xs

	&.Header__SizeS
		font-size: $font-size-header-s

	&.Header__SizeM
		font-size: $font-size-header-m

	&.Header__SizeL
		font-size: $font-size-header-l

	&.Header__SizeXL
		font-size: $font-size-header-xl

	&.Header__Weight300
		font-weight: 300

	&.Header__Weight400
		font-weight: 400

	&.Header__Weight500
		font-weight: 500

	&.Header__Weight700
		font-weight: 700

	&.Header__Weight900
		font-weight: 900
