@import '../../styles/_partials/index'

.Header
	margin: 0 // reset base margins for <h1> to <h6> elements

	&.Header__FontSizeXS
		font-size: $font-size-header-xs

	&.Header__FontSizeS
		font-size: $font-size-header-s

	&.Header__FontSizeM
		font-size: $font-size-header-m

	&.Header__FontSizeL
		font-size: $font-size-header-l

	&.Header__FontSizeXL
		font-size: $font-size-header-xl

	&.Header__FontWeight300
		font-weight: 300

	&.Header__FontWeight400
		font-weight: 400

	&.Header__FontWeight500
		font-weight: 500

	&.Header__FontWeight700
		font-weight: 700

	&.Header__FontWeight900
		font-weight: 900
