@import '../../../styles/_partials/index'

.MarketplacePageHomeCommunity
	display: flex
	flex-direction: row

	.MarketplacePageHomeCommunity_Aside
		position: relative
		display: flex
		flex-direction: column
		width: 25%
		min-width: 230px
		max-width: 480px
		overflow: hidden
		white-space: nowrap

	.MarketplacePageHomeCommunity_Content
		flex-grow: 1

	.MarketplacePageHomeCommunity_Toolbar
		display: flex
		flex-direction: row
		margin-bottom: 30px

		& > *:last-child
			margin-left: auto

	.MarketplacePageHomeCommunity_ToolbarSearch
		display: flex
		align-items: center

	.MarketplacePageHomeCommunity_ToolbarSearchIcon
		width: 18px
		height: 18px

		path
			fill: $gray75

	.MarketplacePageHomeCommunity_ToolbarSearchInput
		margin-left: 10px
		border: none
		color: $gray25
		font-weight: 300
		background: none
