@import '../../../../styles/_partials/index';

.WorkspaceSwitcher {
	.WorkspaceSwitcher_Popup__Width100 {
		width: 100%;
	}

	.WorkspaceSwitcher_Popup_InfoContainer {
		display: flex;
		align-items: center;
		margin: 10px;
		padding: 10px;
		color: $white;
		font-weight: $font-weight-700-bold;
		background: $green;
		border-radius: 4px;
	}

	.WorkspaceSwitcher_Popup_WarningSvg {
		width: 18px;
		height: 18px;
		margin-top: -2px;
		vertical-align: middle;

		path, circle, rect {
			fill: $white !important;
		}
	}

	.WorkspaceSwitcher_Popup_CloseSvg {
		$padding: 4px;

		width: 8px + ($padding * 2);
		height: 8px + ($padding * 2);
		margin-top: -2px;
		padding: $padding; // increase hit area since button is so small
		vertical-align: middle;

		path, circle, rect {
			fill: $white !important;
		}

		&:hover {
			path, circle, rect {
				fill: $green-dark !important;
			}
		}
	}

	.WorkspaceSwitcher_Popup_Text {
		flex-grow: 1;
		height: initial;
		padding: initial;
		color: $white;
		text-decoration: underline;

		&:hover {
			color: $green-dark;
		}
	}

	.WorkspaceSwitcher_PopupGrid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr; // 3 columns of equal width using 'fr' to ensure 100% when using gaps
		grid-row-gap: 15px;
		row-gap: 15px;
		grid-column-gap: 20px;
		column-gap: 20px;
		padding: 5px 20px 15px 20px;
	}

	.WorkspaceSwitcher_PopupGrid__WithTopPadding {
		padding-top: 15px;
	}

	.WorkspaceSwitcher_PopupGridItem {
		cursor: pointer;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: -2px;
			border-radius: 8px;
			border: 2px solid $gray15;
			@include if-theme-dark {
				border-color: $gray;
			}
		}

		&:hover::after {
			margin: -4px;
			border-width: 4px;
		}

		&.WorkspaceSwitcher_PopupGridItem__Team::after {
			border-radius: 50%;
		}
	}

	.WorkspaceSwitcher_PopupGridItem.WorkspaceSwitcher_PopupGridItem__Active {
		&::after {
			margin: -4px;
			border: 4px solid $green;
			border-radius: 8px;
		}

		&:hover::after {
			margin: -2px;
			border-width: 2px;
		}

		&.WorkspaceSwitcher_PopupGridItem__Team::after {
			border-radius: 50%;
		}
	}

	.WorkspaceSwitcher_PopupGridItemAdd {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		border: 2px solid $gray75;

		svg {
			width: 12px;
			stroke: $gray75;
			stroke-width: 2px;

			path {
				fill: $gray75;
			}
		}

		&:hover {
			background-color: $gray75;

			svg {
				stroke: $white;

				path {
					fill: $white;
				}
			}
		}
	}

	.WorkspaceSwitcher_Section {
		white-space: nowrap;
		padding: 15px 20px 15px 20px;
	}

	.WorkspaceSwitcher_PopupFooter > button {
		display: block;
		padding: 0;
		margin: 0 auto;

		& + button {
			margin-top: 15px;
		}
	}

	.WorkspaceSwitcher_Avatar img {
		background: $white;
	}
}
