@import '../../styles/_partials/index';

$arrowSize: 15px;
$arrowSizeRotated: calculateRotatedSquaresLength($arrowSize, 45deg);
$transitionEaseIn: cubic-bezier(.2,.3,.25,.9);
$transitionDuration: 80ms;

@mixin tooltipBoxShadow {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.14);
}

@mixin showTooltip {
	visibility: visible;

	& > .Tooltip_Popper_Inner {
		transform: scale(1.0) translateX(0%) translateY(0%) translateZ(0);
		transform-origin: 50% 50%;
	}
}

.Tooltip_Content {
	&:hover + .Tooltip_Popper {
		@include showTooltip;
	}
}

.Tooltip_Popper {
	visibility: hidden;

	&.Tooltip_Popper__TransitionLeaving {
		visibility: visible; // stay visible while transitioning out
	}

	&.Tooltip_Popper__ForceHover {
		@include showTooltip;
	}

	&[data-placement*='top'] {
		top: -($arrowSizeRotated / 2) !important;
	}

	&[data-placement*='right'] {
		left: ($arrowSizeRotated / 2) !important;
	}

	&[data-placement*='bottom'] {
		top: ($arrowSizeRotated / 2) !important;
	}

	&[data-placement*='left'] {
		left: -($arrowSizeRotated / 2) !important;
	}
}

.Tooltip_Popper_Inner {
	transform: scale(0) translateX(0%) translateY(0%) translateZ(0);
	transition: transform $transitionDuration $transitionEaseIn 80ms, transform-origin 1800ms $transitionEaseIn 80ms;

	&[data-placement*='top'] {
		transform-origin: 50% 100%;
	}

	&[data-placement*='right'] {
		transform-origin: 0 50%;
	}

	&[data-placement*='bottom'] {
		transform-origin: 50% 0;
	}

	&[data-placement*='left'] {
		transform-origin: 100% 50%;
	}
}

.Tooltip_Popper_Content {
	padding: 10px 30px;
	font-weight: 300;
	@include theme-color-graydark50-else-gray25;
	@include theme-input-background-color;
	@include theme-input-border;
	@include tooltipBoxShadow;
}

.Tooltip_Popper_Arrow {
	$extraShadowArea: 100%;
	$borderThickness: 1px;

	position: absolute;
	width: $arrowSize;
	height: $arrowSize;
	@include theme-input-background-color;
	@include theme-input-border;
	border-radius: 0 0 4px 0;
	@include tooltipBoxShadow;
	pointer-events: none;
	//transition: all 0.05s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s;
	// pre-rotate poly used to clip the content
	clip-path: polygon(
		(0% - $extraShadowArea) (100% + $extraShadowArea), // bottom-left (left after rotate)
		(100% + $extraShadowArea) (0% - $extraShadowArea), // top-right (right after rotate)
		(100% + $extraShadowArea) (100% + $extraShadowArea) // bottom-right (bottom after rotate)
	);

	&[data-placement*='top'] {
		bottom: $borderThickness; // overlay border
		left: calc(50% - #{$arrowSizeRotated / 2});
		transform-origin: 0 100%;
		transform: rotate(45deg);
	}

	&[data-placement*='right'] {
		left: -$arrowSize / 2 + $borderThickness;
		top: calc(50% - #{$arrowSizeRotated / 2});
		transform-origin: 49% 57%;
		transform: rotate(135deg);
	}

	&[data-placement*='bottom'] {
		top: -$arrowSize / 2 + $borderThickness;
		left: calc(50% - #{$arrowSizeRotated / 2});
		transform-origin: 60% 46%;
		transform: rotate(225deg);
	}

	&[data-placement*='left'] {
		right: -$arrowSize / 2 + $borderThickness;
		top: calc(50% - #{$arrowSizeRotated/ 2});
		transform-origin: 70% 63%;
		transform: rotate(-45deg);
	}
}
