@import '../../styles/_partials/mixins'
@import '../../styles/_partials/selectors'
@import '../../styles/_partials/theme'
@import '../../styles/_partials/variables'

.BrowseInput
	display: flex
	cursor: default

	span
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
		padding-right: 20px

		&.BrowseInput_Placeholder
			color: $gray25

	button
		margin-left: auto
