@import '../../../styles/_partials/index';

.MagicSyncViewerRowRenderer {
	display: inherit;
	flex-direction: inherit;
	width: inherit;
	height: inherit;
}

.MagicSyncViewerRowRenderer__Unselected {
	@include theme-color-gray-else-gray25;
}

.MagicSyncViewerRowRenderer__Locked {
	@include theme-color-gray25-else-gray;
}
