@import '../../../styles/_partials/index';

.MagicSyncViewerHeader {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex: 0 0 60px;
	padding: 19px 20px;
	font-weight: $font-weight-500-medium;
	@include theme-border-bottom;
}

.MagicSyncViewerHeader_Details {
	flex: 1 1 auto;
}

.MagicSyncViewerHeader_Icon {
	display: inline-block;
	margin-top: -10px;
	margin-right: 10px;
	transform: translateY(6px);

	path {
		fill: $green;
	}
}

.MagicSyncViewerHeader_Direction {
	text-transform: capitalize;
}

.MagicSyncViewerHeader_Site {
	color: $green;
}
